.curvy {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.curvytop {
    border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0; 
    -webkit-border-radius: 8px 8px 0 0;
}

.curvybottom {
    border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
}

.curvyleft {
    border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
}

.curvyright {
    border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
}

.nocurves {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}