.modal-popup {
    overflow: scroll;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    > div { 
	h2 { color: $logo_blue }
	position: relative;
	@extend .curvy;
	@extend .miniform;
	background: $background;
	padding: 1.5em;
	border: 1px solid $secondary;
	margin-left: auto;
	margin-right: auto;
	max-width: 40em;
	-webkit-animation-name: scale-up;
	-webkit-animation-duration: 250ms;
	-webkit-animation-fill-mode: forwards;
    }

    .obscure {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0; 
	left: 0;
	background-color: black;
	opacity: 0.5;
	z-index: -1;
	-webkit-animation-name: fade-halfway-in;
	-webkit-animation-duration: 250ms;
	-webkit-animation-fill-mode: forwards;
    }


    &.away {
	> div {
	    -webkit-animation-name: scale-down;
	}
	.obscure {
	    -webkit-animation-name: fade-halfway-out;
	}
    }
}


@-webkit-keyframes fade-halfway-in {
    from {  
	opacity: 0;
    }
    to { 
	opacity: 0.5;
    }
}

@-webkit-keyframes fade-halfway-out {
    from {  
	opacity: 0.5;
    }
    to { 
	opacity: 0;
    }
}

@-webkit-keyframes scale-up {
    from {  
	-webkit-transform: scale(0);
    }
    to { 
	-webkit-transform: scale(1);
    }
}

@-webkit-keyframes scale-down {
    from {  
	-webkit-transform: scale(1);
    }
    to { 
	-webkit-transform: scale(0);
    }
}
