{{!- BEGIN-SNIPPET context-dependent-demo -}}

{{#liquid-with model class="context-dependent-demo"}}
    <button {{action "decrement"}}>Decrement</button>
    This is person number {{id}}.
    <button {{action "increment"}}>Increment</button>
{{/liquid-with}}
</div>
{{!- END-SNIPPET -}}
