/* Clericare Logo Colors */
/* Solarized */
/* emphasized content */
/* main content */
/* secondary content */
/* background highlights */
/* background */
/* my header background */
/* Solarized color roles for light mode */
/* was #415156, my own extrapolation */
/* was #586e75 */
/* was #657b83 */
/* was #93a1a1 */
/* was #cbc6b6, my own extrapolation */
/* was #eee8d5 */
/* was #fdf6e3 */
.curvy, button, input[type="submit"], .modal-popup > div, .tomster > div {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }

.curvytop {
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0; }

.curvybottom {
  border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px; }

.curvyleft, .buttonbar > button:first-child {
  border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px; }

.curvyright, .buttonbar > button:last-child {
  border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0; }

.nocurves, .buttonbar > button {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

.animated-if {
  overflow: hidden;
  /* This is needed to get overflow: hidden to work properly with the
       transformed children. */
  -webkit-transform: translate3d(0, 0, 0); }
  .animated-if.activated {
    -webkit-transition: height 250ms ease; }
  .animated-if > div {
    position: absolute;
    -webkit-transition: -webkit-transform 250ms ease; }

/* Mostly portable, basic flexible box model. We need to mix the old
deprecated methods with the new standard methods to get reasonable
cross-browser support. I've only tested this on latest stable Chrome,
Firefox, and iOS. */
.display-flex, #main, #mb-demo, #physical-metaphors {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */ }

.flex-align-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center; }

.flex-row {
  -ms-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row; }

.flex-row-reverse {
  -ms-box-orient: horizontal;
  -ms-box-direction: reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.flex-column {
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column; }

.flex, #mb-demo, #mb-demo > div, #physical-metaphors > div {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */ }

/* Begin Standardized Leading Controls */
body, input, textarea, select, button {
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1 {
  font-size: 1.5em;
  margin: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-weight: normal;
  text-align: left;
  line-height: 1.5em;
  color: #332a86; }

h2 {
  font-size: 1.25em;
  margin: 0;
  line-height: 1.875em;
  font-weight: normal;
  text-align: left;
  padding-top: 0.3em;
  padding-bottom: 0.2em; }

h3 {
  font-size: 1em;
  margin: 0;
  font-weight: normal;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.5em; }

.line {
  height: 1.5em; }

.line2 {
  height: 3em; }

p {
  margin-top: 1.5em;
  margin-bottom: 0; }

label {
  color: #657b83; }
  label .example {
    float: right;
    color: #004863;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.667em; }

.clickable, .clickable:visited {
  /*Need !important here to fight with jQueryUI */
  color: #332a86 !important;
  cursor: pointer;
  text-decoration: underline;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }

label, input {
  display: block; }

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  outline: #f8971d solid 2px; }

button {
  min-width: 7em; }

input[type="text"], textarea, input[type="password"] {
  width: 100%;
  box-sizing: border-box; }

input[type="text"], textarea, select, input[type="password"] {
  color: #333;
  margin-top: 0;
  border: 1px solid #93a1a1;
  padding: 0.2em;
  background-color: white;
  font-size: 1.1em; }

input[type="text"], select, input[type="password"] {
  height: 2em; }

.row {
  min-height: 4.5em; }

.compact {
  float: left;
  padding-right: 0.5em;
  box-sizing: border-box; }

.half {
  float: left;
  width: 50%;
  padding-right: 0.5em;
  box-sizing: border-box; }

.half + .half, .half + script + .half {
  padding-right: 0; }

button, input[type="submit"] {
  border: 1px solid #003346;
  background: #f3eed6;
  color: #332a86;
  line-height: 1.4em;
  padding: 0.3em 1em 0.5em 1em;
  height: 2em;
  font-weight: normal;
  cursor: pointer;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }
  button:hover, input[type="submit"]:hover {
    background: #fdf6e3;
    color: #97005e; }

.buttonbar > button {
  vertical-align: top;
  min-width: 0;
  margin-left: 0;
  margin-right: -1px; }
.buttonbar > div {
  vertical-align: top;
  border: 1px solid #003346;
  padding: 0.3em 1em 0.5em 1em;
  height: 2em;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: -0.4em;
  margin-right: -0.4em;
  display: inline-block;
  z-index: -1;
  position: relative; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
  zoom: 1; }

.modal-popup {
  overflow: scroll;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }
  .modal-popup > div {
    position: relative;
    background: #fffcf4;
    padding: 1.5em;
    border: 1px solid #657b83;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    -webkit-animation-name: scale-up;
    -webkit-animation-duration: 250ms;
    -webkit-animation-fill-mode: forwards; }
    .modal-popup > div h2 {
      color: #332a86; }
  .modal-popup .obscure {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
    -webkit-animation-name: fade-halfway-in;
    -webkit-animation-duration: 250ms;
    -webkit-animation-fill-mode: forwards; }
  .modal-popup.away > div {
    -webkit-animation-name: scale-down; }
  .modal-popup.away .obscure {
    -webkit-animation-name: fade-halfway-out; }

@-webkit-keyframes fade-halfway-in {
  from {
    opacity: 0; }

  to {
    opacity: 0.5; } }

@-webkit-keyframes fade-halfway-out {
  from {
    opacity: 0.5; }

  to {
    opacity: 0; } }

@-webkit-keyframes scale-up {
  from {
    -webkit-transform: scale(0); }

  to {
    -webkit-transform: scale(1); } }

@-webkit-keyframes scale-down {
  from {
    -webkit-transform: scale(1); }

  to {
    -webkit-transform: scale(0); } }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #fffcf4; }

#topnav {
  height: 100%;
  width: 100%;
  position: absolute; }

#navlist {
  position: absolute;
  background: #fffcf4;
  z-index: 1;
  left: -14em;
  width: 15em;
  height: 100%;
  border-right: 1px solid #657b83;
  -webkit-transition: -webkit-transform 250ms ease;
  -webkit-transform: translateX(0);
  overflow-y: scroll;
  overflow-x: hidden; }
  #navlist a {
    display: block;
    cursor: pointer;
    padding: 0.75em 1em;
    border-bottom: 1px solid #93a1a1;
    color: #004863;
    text-decoration: none; }
    #navlist a.active {
      color: #332a86;
      background-color: #f3eed6; }
    #navlist a:hover {
      background-color: #f3eed6; }
  #navlist:hover {
    -webkit-transform: translateX(14em); }

#main {
  justify-content: center;
  -webkit-transform: translateX(0);
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1.5em;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative; }

#mb-demo > div {
  padding-right: 1.5em; }
#mb-demo input, #mb-demo textarea {
  box-sizing: border-box; }
#mb-demo h3 {
  font-size: 2em; }
#mb-demo .story {
  max-width: 10em; }
#mb-demo .redline {
  border-top: 1px solid red; }
#mb-demo .height-display {
  font-size: 6em; }

button.del {
  margin-top: 1.5em; }

#now-demo {
  font-size: 3em; }
  #now-demo .time {
    display: inline-block;
    height: 1.5em;
    width: 1.15em;
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    /* without this, overflow:hidden won't take effect because the things
           we're trying to hide are on a separate accelerated
           context. */
    -webkit-transform: translateY(0); }
    #now-demo .time > div {
      height: 1.5em;
      position: absolute; }
  #now-demo .time.animating > div {
    -webkit-animation: slide-down 750ms; }
  #now-demo .mood {
    display: inline-block;
    height: 1.5em;
    width: 7em;
    text-align: center;
    vertical-align: top; }
    #now-demo .mood .current, #now-demo .mood .next {
      position: absolute;
      top: 0; }
  #now-demo .mood.animating .current {
    -webkit-animation: fade-away 2s; }
  #now-demo .mood.animating .next {
    -webkit-animation: fade-in 2s; }
  #now-demo .mood-box {
    -webkit-transition: color 2s; }
    #now-demo .mood-box.Happy {
      color: #cb4b16; }
    #now-demo .mood-box.Hungry {
      color: #d33682; }
    #now-demo .mood-box.Tired {
      color: #6c71c4; }
    #now-demo .mood-box.Sleepy {
      color: #000; }

@-webkit-keyframes slide-down {
  from {
    -webkit-transform: translateY(-100%); }

  to {
    -webkit-transform: translateY(0); } }

@-webkit-keyframes fade-away {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

#parent-demo {
  width: 551px;
  height: 700px;
  background-image: url(../tablet.png);
  padding: 80px 56px 80px 62px;
  box-sizing: border-box; }
  #parent-demo > div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: translateX(0); }
  #parent-demo > div > div {
    width: 200%;
    -webkit-transition: -webkit-transform 250ms;
    -webkit-transform: translateX(0); }
    #parent-demo > div > div.over {
      -webkit-transform: translateX(-50%); }
    #parent-demo > div > div > div {
      min-height: 1em;
      width: 50%;
      box-sizing: border-box;
      float: left; }
  #parent-demo .list a {
    display: block;
    cursor: pointer;
    padding: 0.75em 1em;
    border-bottom: 1px solid #93a1a1;
    color: #004863;
    text-decoration: none; }
    #parent-demo .list a.active {
      color: #332a86;
      background-color: #f3eed6; }
    #parent-demo .list a:hover {
      background-color: #f3eed6; }

.attribution {
  font-size: 0.8;
  color: #332a86;
  font-style: italic; }


.tomster {
  position: relative;
  width: 324px;
  height: 308px;
  margin: 60px;
  left: -60px;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: spin 6s linear infinite; }
  .tomster > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    x-webkit-backface-visibility: hidden; }
  .tomster .front {
    background-color: #f3eed6;
    background-image: url(../tomster.png);
    z-index: 1; }
  .tomster .back {
    background-color: #f3eed6;
    background-image: url(../tomster.png);
    -webkit-transform: translateX(-50%) rotateY(-120deg) translateX(-50%); }
  .tomster .side {
    background-color: #f3eed6;
    background-image: url(../tomster.png);
    -webkit-transform: translateX(50%) rotateY(120deg) translateX(50%); }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateX(-15deg); }

  25% {
    -webkit-transform: rotateX(-15deg) rotateY(90deg); }

  75% {
    -webkit-transform: rotateX(-15deg) rotateY(270deg); }

  to {
    -webkit-transform: rotateX(-15deg) rotateY(360deg); } }
