<div id="topnav">
  <div id="navlist">
    {{#each}}
      {{#link-to route}}{{title}}{{/link-to}}
    {{/each}}
  </div>

  <div id="main">
    {{outlet}}
  </div>
</div>

{{#liquid-if modalDemo class="liquid-modal"}}
  {{render "modal-demo"}}
{{/liquid-if}}
