<div style="position: relative; width: 551px; height: 700px; background-image: url(tablet.png); padding: 80px 50px 80px 62px; box-sizing: border-box">
  <div style="width: 100%; height: 100%; overflow: scroll;">
    <img src="tiny-ember.png">
  </div>
</div>

