<div id="physical-metaphors">
  <div>
    <img src="window.jpg">
    <br>
    <a class="attribution" href="http://www.flickr.com/photos/michaelcasey/9946152">Michael Casey via Flickr</a>
  </div>

  <div>
    <img src="folder.jpg">
    <br>
    <a class="attribution" href="http://www.flickr.com/photos/61397726@N00/1790759284">himmelskratzer via Flickr</a>
  </div>
</div>
