<div>
  <h1>Animations and Transitions</h1>
  Edward Faulkner &lt;edward@braveleaf.com&gt;

  <div class="tomster">
    <div class="front"></div>
    <div class="back"></div>
    <div class="side"></div>
  </div>
</div>
