<div>
  <h1>Animated Transitions in Ember with Liquid Fire</h1>
  Edward Faulkner &lt;edward@braveleaf.com&gt;

  <div class="tomster">
    <div class="front"></div>
    <div class="back"></div>
    <div class="side"></div>
  </div>

  <h2>Follow Along At: <a href="http://ef4.github.io/ember-animation-demo">http://ef4.github.io/ember-animation-demo</a></h2>
  Navigate with Arrow Keys!

  <h2>Presentation Source: <a href="http://github.com/ef4/ember-animation-demo">http://github.com/ef4/ember-animation-demo</a></h2>

  <h2>Liquid Fire Docs: <a href="http://ef4.github.io/liquid-fire">http://ef4.github.com/liquid-fire</a></h2>

  <h2>Liquid Fire Source: <a href="http://github.com/ef4/liquid-fire">http://github.com/ef4/liquid-fire</a></h2>


</div>
